.footer {
  padding-block: var(--app-padding-normal);
  font-size: var(--sl-font-size-small);
  color: var(--sl-color-neutral-600);
  border-top: 1px solid var(--sl-color-gray-300);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .copyrights {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .dev {
    font-size: var(--sl-font-size-x-small);
  }
}
