.header {
  padding-top: var(--app-padding-small);

  .container {
    display: flex;
    flex-direction: column;

    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .logo {
    width: 150px;
    height: auto;
    object-fit: contain;
  }
}
