#hero {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--app-padding-normal);

    .text-content {
      flex: 1;

      .title {
        margin-bottom: var(--app-padding-normal);
        font-size: var(--sl-font-size-2x-large);
        font-weight: bold;
      }

      .description {
        margin-bottom: 3rem;
        max-width: 48ch;
        color: var(--sl-color-gray-600);
        font-size: var(--sl-font-size-large);
      }
    }

    .image-content {
      flex: 1;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    @media (min-width: 48rem) {
      flex-direction: row;
    }
  }
}
