@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.heebo-100 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.heebo-200 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.heebo-300 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.heebo-400 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heebo-500 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.heebo-600 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.heebo-700 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.heebo-800 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.heebo-900 {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
