/* BASE */
@import url('base/variables.css');
@import url('base/reset.css');
@import url('base/heebo.css');
@import url('base/layout.css');

/* COMPONENTS */
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/about.css');
@import url('components/subjects.css');
@import url('components/faq.css');
@import url('components/testimonials.css');
@import url('components/contact.css');
@import url('components/footer.css');
